<h1>Listing rankcriterias</h1>
<h5>top 20 records only.</h5>
<table>
  <tr>
    <th>Phrase</th>
    <th>Priorityhigh</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @rankcriterias.each do |rankcriteria| %>
  <tr>
    <td><%=h rankcriteria.phrase %></td>
    <td><%=h rankcriteria.priorityhigh %></td>
    <td><%= link_to 'Show', rankcriteria %></td>
    <td><%= link_to 'Edit', edit_rankcriteria_path(rankcriteria) %></td>
    <td><%= link_to 'Destroy', rankcriteria, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New rankcriteria', new_rankcriteria_path %>
<br/>
<br/>
<br/>
<%= link_to "View filtered tickets", "showrankedtickets" %>  &nbsp;&nbsp;&nbsp; <%= link_to "View tickets" , tickets_path %>
<br/>
<br/>
<br/>
<%= link_to "Spell Check",:controller => "spellcheck", :action => "spellcheck" %> &nbsp;&nbsp;&nbsp;
<%= link_to "Synonyms",:controller => "spellcheck", :action => "synonyms" %> &nbsp;&nbsp;&nbsp;
<%= link_to "Antonyms",:controller => "spellcheck", :action => "antonyms" %>