<h1>New rankcriteria</h1>

<% form_for(@rankcriteria) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :phrase %><br />
    <%= f.text_field :phrase %>
  </p>
  <p>
    <%= f.label :priorityhigh %><br />
    <%= f.check_box :priorityhigh %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<% if not @result.nil? %>

    <div style="color:maroon;width:400px" id="SuggestedPhases">
  
        <h4>The entered phrase can be a following one for '<%= @wrongword %>'</h4>

        <ul style="list-style:none">
             <% @result["spellresult"]["c"]["$"].to_s.split(/\t/).each  do |word| %>
                <li> <%=h word %> </li>
             <% end %>
        </ul>

    </div>

<% end %>

<%= link_to 'Back', rankcriterias_path %>