<h2>Prioritised Tickets</h2>
<table style="width:600px;">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Rank</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @tickets.each do |ticket| %>
  <tr>
    <td><%=h ticket.title %></td>
    <td><%=h ticket.description %></td>
    <td><%=h ticket.rank %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<br />
<%= link_to "Re-evaluate Ranks", "rankedtickets" %>
<br />
<br />
<%= link_to "View rank criteria", rankcriterias_path %> &nbsp;&nbsp;&nbsp; <%= link_to "View tickets" , tickets_path %>
<br />
<br />
<%= link_to "Spell Check",:controller => "spellcheck", :action => "spellcheck" %> &nbsp;&nbsp;&nbsp;
<%= link_to "Synonyms",:controller => "spellcheck", :action => "synonyms" %> &nbsp;&nbsp;&nbsp;
<%= link_to "Antonyms",:controller => "spellcheck", :action => "antonyms" %>