<h1>Listing tickets</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @tickets.each do |ticket| %>
  <tr>
    <td><%=h ticket.title %></td>
    <td><%=h ticket.description %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<br />
<%= link_to 'New ticket', new_ticket_path %>
<br/>
<br/>
<%= link_to "View filtered tickets", "showrankedtickets" %> &nbsp;&nbsp;&nbsp; <%= link_to "View rank criteria", rankcriterias_path %>
<br />
<br />
<%= link_to "Spell Check",:controller => "spellcheck", :action => "spellcheck" %> &nbsp;&nbsp;&nbsp;
<%= link_to "Synonyms",:controller => "spellcheck", :action => "synonyms" %> &nbsp;&nbsp;&nbsp;
<%= link_to "Antonyms",:controller => "spellcheck", :action => "antonyms" %>

